<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<blockquote> <% @project.description %> </blockquote>
<p>
  <strong>Ends at:</strong>
  <%= @project.ends_at %>
</p>

<ul>
<% @project.tasks.each do |task| %>
 <li>
   <%= check_box_tag "task_done#{task.id}", "", task.done, class: "task.done", data: {id: task.id} %>  
   <%= link_to task.title, task %>
 </li>
<% end %> 
</ul>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
